<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ title }}NoPaste | 3DGIS</title>
<link rel="stylesheet" type="text/css" href="{{ baseurl }}/css/nopaste.css" />
<script type="text/javascript" src="{{ baseurl }}/lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ baseurl }}/lib/syntax/scripts/shCore.js"></script>
<script type="text/javascript" src="{{ baseurl }}/lib/syntax/scripts/shAutoloader.js"></script>
<link href="{{ baseurl }}/lib/syntax/styles/shCore.css" rel="stylesheet" type="text/css" />
<link href="{{ baseurl }}/lib/syntax/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="bodycontent">
{{ content|raw }}
</div>
<div id="footer">
<a href="{{ baseurl }}/browse/">Last 50 snippets</a>
<a href="{{ baseurl }}">New paste</a>
</div>
<script type="text/javascript">
	function path()
	{
	  var args = arguments,
	      result = []
	      ;
	       
	  for(var i = 0; i < args.length; i++)
	      result.push(args[i].replace('@', '{{ baseurl }}/lib/syntax/scripts/'));
	       
	  return result
	};
	 
	SyntaxHighlighter.autoloader.apply(null, path(
	  'applescript            @shBrushAppleScript.js',
	  'actionscript3 as3      @shBrushAS3.js',
	  'bash shell             @shBrushBash.js',
	  'coldfusion cf          @shBrushColdFusion.js',
	  'cpp c                  @shBrushCpp.js',
	  'c# c-sharp csharp      @shBrushCSharp.js',
	  'css                    @shBrushCss.js',
	  'delphi pascal          @shBrushDelphi.js',
	  'diff patch pas         @shBrushDiff.js',
	  'erl erlang             @shBrushErlang.js',
	  'groovy                 @shBrushGroovy.js',
	  'java                   @shBrushJava.js',
	  'jfx javafx             @shBrushJavaFX.js',
	  'js jscript javascript  @shBrushJScript.js',
	  'perl pl                @shBrushPerl.js',
	  'php                    @shBrushPhp.js',
	  'text plain             @shBrushPlain.js',
	  'py python              @shBrushPython.js',
	  'ruby rails ror rb      @shBrushRuby.js',
	  'sass scss              @shBrushSass.js',
	  'scala                  @shBrushScala.js',
	  'sql                    @shBrushSql.js',
	  'vb vbnet               @shBrushVb.js',
	  'xml xhtml xslt html    @shBrushXml.js'
	));
     SyntaxHighlighter.all();
</script>
</body>
</html>
